.request_container {
  background: #ffffff;
  padding: 17px 10px 17px 28px;
  border-radius: 8px;
  height: 100vh;
  &__header {
    font-weight: 600;
    color: #363740;
    font-size: 24px;
    margin-bottom: 10px;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
  }
}

.empty__state__icon {
  text-align: center;
  margin: 100px;
}

.join_button {
  position: absolute;
  right: 50px;
}

.session_container {
  display: flex;
  margin: 50px 0px 20px 0px;
  &__document_time {
    width: 27%;
    min-height: 80px;
    padding: 12px 0px 12px 20px;
    border: 2px solid #eef5ff;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 20px;
  }
  &__video_session {
    width: 24%;
    min-height: 78px;
    padding: 12px 20px;
    border: 2px solid #eef5ff;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 20px;
    text-align: center;
  }
  &__title {
    font-weight: 600;
    font-size: 14px;
    color: #7b7171;
    margin-bottom: 10px;
  }
  &__link {
    font-weight: 400;
    font-size: 11px;
    text-decoration-line: underline;
    color: #003bb3;
  }
  &__timeframe {
    font-weight: 400;
    font-size: 11px;
    color: #000000;
  }
  &__document_link {
    display: flex;
    align-items: flex-start;
    
    img {
      margin-right: 10px;
    }
  }
}
