.toolbar {
  width: 195px;
  padding: 0.625rem;
  background: #fff;
  position: fixed;
  top: 100px;
  right: 1rem;
  &__header {
    border-bottom: 1px solid #dfe0eb;
    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;
  }
  &__btn {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }
  &__content {
    padding-top: 1.5rem;
  }
  &__list {
  }
  &__icon {
    position: relative;
  }
  &__item {
    display: flex;
    font-size: 12px;
    align-items: flex-start;
    padding-bottom: 1.5rem;
    &:not(:last-of-type) {
      .toolbar__icon {
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 8px;
          height: 690%;
          margin-top: 10px;
          border-left: 1px dashed #003bb3;
          z-index: 9999;
        }
      }
    }

    .caption {
      padding-bottom: 0.5rem;
      display: inline-block;
    }
    .highlight {
      font-weight: 600;
      color: #003bb3;
    }
  }
}

.heading {
  font-weight: 500;
}
.caption {
  color: #7b7171;
  font-size: 12px;
}
