.avatarText {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ccc;
  text-transform: uppercase;
  padding: 10px;
  font-weight: 700;
  line-height: 20px;
  font-size: 18px;
}
