.statusWrapper {
  padding: 0px 10px;
  background: #FF9900;
  border-radius: 4px;
  display: inline-block;

  p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
  }
}

